<div id="chat">
	<div id="logo">
		<h5>hos5</h5>
		<p></p>
	</div>
	<div class="socialLinks">
		<% include social %>
	</div>
	<div id="box">
		<div id="status">
			Sisteme bağlanılıyor lütfen bekleyiniz.
		</div>
		<ul id="messages"></ul>
	</div>
	<div id="controls">
		<div id="disconnectBox">
			<a id="disconnectBtn">
				Terket
				<span>Esc</span>
			</a>
			<a id="chatAgainBtn">
				Yeni
				<span>Esc</span>
			</a>
		</div>
		<div id="typeBox">
			<textarea id="type"></textarea>
		</div>
		<div id="sendBox">
			<a id="sendBtn">
				Gönder
				<span>Enter</span>
			</a>
		</div>
	</div>
</div>
