<div id="landing">
	<div id="browserSupport">
		Hos5'i kullanabilmeniz için tarayıcınızı güncellemeniz gerekiyor. <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a> tarayıcısını kullanabilirsiniz.
	</div>

	<% include pagelogo %>

	<h2>Sohbet etmek istediğiniz şehri seçip sizinle rastgele eşleşecek olan anomim birisi ile sohbet edebilirsiniz.</h2>

	<input type="text" id="filterCities" name="filterCities" placeholder="Şehir ismi giriniz">

	<ul id="cities">
		<% cities.forEach(function(city) { %>
			<li>
				<a href="#" id="<%= city.plate %>" data-city="<%= city.title %>">
					<%= city.title %>
					<span><%= city.count %></span>
				</a>
			</li>
		<% }); %>
	</ul>

	<% include pagebottom %>
</div>
