<% include header %>
<div id="page">
	<% include pagelogo %>

	<div class="content">
		<h2>Hos5 Nedir?</h2>
		<p>
			Hos5, <a href="http://omegle.com" target="_blank">Omegle</a> isimli web sitesinden etkilenmiş, kullanıcılarının konuştukları kişiyi tanımadan,
			anonim olarak karşılıklı sohbet edebildikleri bir servistir.
		</p>

		<p>
			Kullanıcılar, kendi bulundukları şehri veya konuşmak istedikleri şehri seçerek, yine o şehirde bulunan herhangi bir kullanıcı ile
			anonim olarak eşleşir ve her iki taraftan birisi konuşmayı sonlandırına kadar sohbet ederler. Bu sohbet esnasında iki tarafında kendileri
			istemedikleri sürece anonimlikleri bozulmaz.
		</p>

		<p>
			Daha fazla bilgiyi ve sosyal medya kullanıcılarının görüşlerini <a href="http://facebook.com/hos5net">facebook</a> ve <a href="http://twitter.com/hos5net">twitter</a>
			adresimizden öğrenebilirsiniz.
		</p>

		<p>
			<strong>Hos5, iki tarafında sohbet esnasında yazdıklarından sorumlu değildir.</strong>
		</p>

		<p>
			<a href="/">Anasayfa &raquo;</a>
		</p>
	</div>

	<% include pagebottom %>
</div>

<% include footer %>
